//Colours-------------------------------------------------------------
$primary: #b5179e;
$primary-90: rgba($primary, 0.9);

$secondary: #2ead69;
$secondary-80: rgba($secondary, 0.8);
$secondary-60: rgba($secondary, 0.6);
$secondary-40: rgba($secondary, 0.4);
$secondary-20: rgba($secondary, 0.2);

$white: #f4fdfb;

$dark-1: hsl(210, 50%, 14%);
$dark-15: hsla(210, 50%, 14%, 0.5);
$dark-2: hsl(210, 45%, 18%);
$dark-25: hsla(210, 45%, 18%, 0.5);
$dark-3: hsl(210, 40%, 22%);
$dark-35: hsla(210, 40%, 22%, 0.5);

$black-1: #181818;

$bright-1: hsl(200, 30%, 75%);
$bright-15: hsla(200, 30%, 75%, 0.5);

$gray-1: #f2f2f2;

$splash-bg: $dark-1;
$body-bg: $dark-3;

$blue: #1730b9;

$shape:#F9FAFE;
$gray:  #C7C7C7;